// Couleurs principales
$couleur-principale: #e0e0e0;
$couleur-secondaire: #ffffff;

// Liens
$lien-couleur:#e0f2ff;

// Text
$text-secondaire: #666666;

// Erreur et validation
$erreur: #ef4444;
$avertissement: #facc15;
$succes : #22c55e