@use "components" as *;
@use "./pages/login";
@use "./pages/menu";
@use "./pages/mesTaches";

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $couleur-principale;
}